<nav class="p-3 navbar">
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button routerLink="{{action.route}}"
              (click)="setCurrentAction(action)"
              [class]="action === currentAction ? 'btn btn-success ms-1' : 'btn btn-outline-success ms-1'"
      ><i class="bi bi-{{action.icon}}"></i> {{action.title}}</button>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li *ngIf="appState.authState.isLoggedIn==true">
      {{appState.authState.username}}
      <button class="btn btn-success" (click)="logout()">Logout</button>
    </li>
    <li *ngIf="appState.authState.isLoggedIn==false">
      <button class="btn btn-success" (click)="login()">Logout</button>

    </li>
  </ul>
</nav>
